.idea/
.DS_Store
.DS_Store/
node_modules/
dist/
.env
coverage/
*.log
*.tmp
.vscode/
*.swp
*.swo
.idea/vcs.xml
AxonServer-2025.1.4/
career-portal-service/.DS_Store
talent-fulfillment-service/.DS_Store
talent-request-service/.DS_Store
tams-api-gateway/.DS_Store
